<div class="row">
    <label>Rozmiar:</label>
    <input type="button" id="plus" value="+" />
    <input type="button" id="minus" value="-" />
    <br />
    <label>Obróc:</label>
    <input type="button" id="rotateRight" value="w prawo" />
    <input type="button" id="rotateLeft" value="w lewo" />
    <br />
    <label>Wyostrzenie:</label>
    <input type="button" id="sharp" value="+" />
    <input type="button" id="unsharp" value="-" />
    <br />
    <label>Czerwony:</label>
    <input type="button" id="redPlus" value="+" />
    <input type="button" id="redMinus" value="-" />
    <br />
    <label>Zielony:</label>
    <input type="button" id="greenPlus" value="+" />
    <input type="button" id="greenMinus" value="-" />
    <br />
    <label>Niebieski:</label>
    <input type="button" id="bluePlus" value="+" />
    <input type="button" id="blueMinus" value="-" />
    <p hidden id="urlWhy">Picture url will appear here</p>
</div>