@import "style.css";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px; 
  border-radius: 25px;
  align-items: center;
  }

.field{
	padding: 20px;
	display: flex;
	flex-direction: column; 
	justify-content: space-around; 
	align-items: center;
	border-radius: 12px;
}

.field .cont {
		margin: 10px;
		display: flex;
		flex-direction: column; 
		justify-content: space-around;
		align-items: center;
		border-radius: 12px;
	}